.about {

    &__container {
        overflow: visible;
        position: relative;
        min-height: 100vh;
    }

    &__body {
        background: $primary-color;
        border-top-left-radius: 43px;
        border-top-right-radius: 43px;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $bg;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 67px;
    }


    &__heading {
        font-weight: 400;
        font-size: 96px;
        line-height: 115px;
    }

    &__title {
        font-weight: 400;
        font-size: 64px;
        line-height: 77px;
        margin-bottom: 5px;
    }

    &__date {
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 74px;
    }

    &__item-wrapper {
        display: flex;
        padding-bottom: 120px;
    }

    &__item {
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        &:nth-child(1) {
            margin-right: 236px;
        }
        &:nth-child(2) {
            margin-right: 206px;
        }
    }
}
